<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
     xmlns:metrics="http://www.ryantenney.com/schema/metrics"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://code.alibabatech.com/schema/dubbo 
           http://code.alibabatech.com/schema/dubbo/dubbo.xsd
           http://www.ryantenney.com/schema/metrics
           http://www.ryantenney.com/schema/metrics/metrics.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--<context:component-scan base-package="com.yatang.xc.xcr.web,com.yatang.xc.xcr.biz.service,com.yatang.xc.mbd.biz.adapter" />-->
    <!--<dubbo:reference interface="com.yatang.xc.mbd.biz.adapter.RedisDubboAdapterServie" id="redisAdapter"-->
                     <!--timeout="30000" version="1.0.0" group=""/>-->

</beans>
