<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" type="text/css" href="/xcr/uploadify/uploadify.css">
    <link rel="stylesheet" href="/xcr/plugins/window/window.css">
    <script type="text/javascript" src="/xcr/uploadify/notRefreshFilesUpload.js"></script>
    <script type="text/javascript" src="/xcr/artDialog/artDialog.js?skin=default"></script>
    <script type="text/javascript" src="/xcr/plugins/window/window.js"></script>
    <style>
        .Validform_checktip {
            font-size: 12px;
            color: #999;
            margin-top: 10px;
        }

        .Validform_wrong {
            color: #f00;
        }

        .Validform_right {
            color: #38B119;
        }

        #awardCash, #awardScore {
            display: none;
        }
    </style>
    <script type="text/javascript" src="/xcr/js/mission.js"></script>
</head>
<body class="gray-bg">
<div class="container" style="width: 100%;background-color: white">
<div style="border-bottom:2px solid grey;margin-top: 20px;"><strong>发布管理/消息管理</strong></div>
<div class="tab-content" style="margin-top: 10px;width: 95%;margin: 0 auto">
    <div id="menu1">
        <div id="pushListTab" class="tab-pane">
            <div class="table-responsive">
                <div id="toolbar" class="btn-group" style="float: left;margin-top: 20px;">
                    <button id="btn_add" type="button" class="btn btn-success btn-xs rightSize"
                            style="width: 100px;"
                            onclick="pushAdd();">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发布消息
                    </button>
                </div>
                <table id="push-table">


                </table>
            </div>
        </div>
        <script type="text/javascript">
            //获取消息添加页面
            function pushAdd() {
                window.customData = null;
                $("#pushListTab").empty();
                $.ajax({
                    url: "/xcr/msgEdit.htm",
                    type: "get",
                    success: function (data) {
                        $("#pushListTab").html(data);
                    }
                });
            }
        </script>
        <!-- 普通列表js -->
        <script type="text/javascript" src="/xcr/js/pushList.js"></script>
    </div>
</div>
<!-- 提示 -->
<div class="modal fade" id="sendSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">消息</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">发布成功！</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">消息</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">操作成功！</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="fail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">消息</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">操作失败！</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">消息</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">取消删除成功！</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dataJudge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">消息</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">现金/积分数据格式不正确！</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="titleJudge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">消息</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">任务名称重复，请修改名称</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="relLevelJudge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">消息</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">未选择关联任务，或者未设置关联任务等级，请检查...</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="serverFail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">消息</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">服务器连接失败...</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imgTag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">消息</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">图标不能为空</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imgdataJudge2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">消息</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">图片太大，不能超过2MB</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>