<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/xcr/css/error.css">
</head>
<body class="error-404">
<div id="doc_main">
	<section class="bd clearfix">
		<div class="module-error">
			<div class="error-main clearfix">
				<div class="label"></div>
				<div class="info">
					<h3 class="title">啊哦，你所访问的页面出错了</h3>
					<div class="oper">
						<p><a href="javascript:history.go(-1);">返回上一级页面&gt;</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


</body></html>