<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" type="text/css" href="/xcr/css/build.css">
    <link rel="stylesheet" href="/xcr/plugins/jedate/skin/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/xcr/plugins/window/window.css">
    <script type="text/javascript" src="/xcr/plugins/jedate/jedate.js"></script>
    <script type="text/javascript" src="/xcr/plugins/window/window.js"></script>
    <style type="text/css">
        .table tbody tr td {
            vertical-align: middle;
        }

        .selectDateOnly {
            width: 170px;
            float: left;
            border: 1px solid #d2d6de;
            padding-left: 10px;
            height: 30px;
            border-radius: 5px;
        }

        .jedatebox {
            z-index: 99999999 !important;
        }
    </style>
</head>
<body class="gray-bg">
<div id="menu1" class="container" style="width: 100%;">
    <div style="margin-top: 10px;width: 100%;background-color: white">
        <div style="width: 100%;height: 10px;"></div>
        <div style="width: 100%;height: 50px;margin-top: 10px;">
            <h5>
                &nbsp;&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;<strong>活动管理</strong>
                &nbsp;&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;<a
                    href="javascript:loadHtml('/xcr/toc/share/list.htm')"><strong>分享活动</strong></a>
                &nbsp;&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;<a href="#"><strong>活动数据</strong></a>
            </h5>
        </div>
        <div class="tab-content" style="margin-top: 10px;width: 100%;margin: 0 auto">
            <div>
                <div id="loginLogTab" class="tab-pane">
                    <div style="width: 100%;margin: 0 auto;">
                        <table style="margin-top: 20px;width: 100%;height:60px;background-color: whitesmoke;margin: 0 auto;"
                               border="0">
                            <tbody style="margin-top: 30px;">
                            <tr>
                                <td style="width: 20px;"></td>
                                <td style="width: 70px;">
                                    <div style="margin-top: 5px;"><strong>分享时间:</strong></div>
                                </td>
                                <td style="width: 300px;">
                                    <input class="datainp selectDateOnly wicon" id="shareStartDay" type="text"
                                           placeholder="请选择" readonly>
                                    <label style="float: left;margin: 5px;"> 至 </label>
                                    <input class="datainp selectDateOnly wicon" id="shareEndDay" type="text"
                                           placeholder="请选择" readonly>
                                </td>
                                <td style="width: 70px;">
                                    <div style="margin-top: 5px;"><strong>用户帐号:</strong></div>
                                </td>
                                <td style="width: 150px;">
                                    <input type="text" id="account" name="account"/>
                                </td>
                                <td style="width: 100px;">
                                    <div style="margin-left: -10px;">
                                        <a href="#" onclick="shareExport();"><h4><i class="fa fa-print"></i>导出详情</h4>
                                        </a>
                                    </div>
                                </td>
                                <td style="width: 100px;">
                                </td>
                                <td style="width: 150px;">
                                    <button id="btn_add" type="button" class="btn btn-vk btn-sm rightSize"
                                            style="width: 70%;float: left;margin-left: -80px;margin-top: 5px;"
                                            onclick="searchResult();">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询
                                    </button>
                                </td>
                                <td style="width: 200px;">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <div id="toolbar" class="btn-group" style="float: left">

                        </div>
                        <table id="loginLog-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    jeDate({
        dateCell: "#shareStartDay",
        format: "YYYY-MM-DD hh:mm:ss",
        festival: true, //是否显示节日
        isinitVal: false,
        isTime: true, //isClear:false,
        minDate: "2010-01-01 00:00:00",
        okfun: function (val) {
        }
    })
    jeDate({
        dateCell: "#shareEndDay",
        format: "YYYY-MM-DD hh:mm:ss",
        festival: true, //是否显示节日
        isinitVal: false,
        isTime: true, //isClear:false,
        minDate: "2010-01-01 00:00:00",
        okfun: function (val) {
        }
    })


    var queryParams = function (params) {
        var shareStartDay = $("#shareStartDay").val();
        var shareEndDay = $("#shareEndDay").val();
        var account = $("#account").val();
        var param = {
            pageIndex: params.offset,
            pageSize: params.limit,
            shareStartDay: shareStartDay,
            shareEndDay: shareEndDay,
            account: account
        };
        return param;
    };

    var responseHandler = function (e) {
        console.log(e);
        if (e.data && e.data.length > 0) {
            return {"rows": e.data, "total": e.total};
        }
        else {
            return {"rows": [], "total": 0};
        }
    };

    $('#loginLog-table').bootstrapTable({
        url: "/xcr/toc/share/$activityId/detail/list/data.htm",
        method: "post",                     //使用post请求到服务器获取数据
        dataType: "json",
        contentType: 'application/json',
        toolbar: "#toolbar",                //一个jQuery 选择器，指明自定义的toolbar 例如:#toolbar, .toolbar.
        uniqueId: "id",                    //每一行的唯一标识，一般为主键列
        cache: false,                       // 不缓存
        height: 750,
        striped: true,                      // 隔行加亮
        queryParamsType: "limit",           //设置为"undefined",可以获取pageNumber，pageSize，searchText，sortName，sortOrder
                                            //设置为"limit",符合 RESTFul 格式的参数,可以获取limit, offset, search, sort, order
        queryParams: queryParams,
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        pagination: true,                   //是否显示分页（*）
        strictSearch: true,
        showColumns: false,                  //是否显示所有的列
        showRefresh: true,                  //是否显示刷新按钮
        showToggle: true,                    //是否显示详细视图和列表视图
        clickToSelect: true,                //是否启用点击选中行
        minimumCountColumns: 2,          //最少允许的列数 clickToSelect: true, //是否启用点击选中行
        pageNumber: 1,                   //初始化加载第一页，默认第一页
        pageSize: 25,                    //每页的记录行数（*）
        pageList: [10, 25, 50, 100],     //可供选择的每页的行数（*）
        paginationPreText: "上一页",
        paginationNextText: "下一页",
        paginationFirstText: "First",
        paginationLastText: "Last",
        responseHandler: responseHandler,

        columns: columns = [
            {
                field: 'account',
                title: '用户帐号',
                align: 'center',
                sortable: false
            }, {
                field: 'shareContent',
                title: '分享内容',
                align: 'center',
                sortable: false
            }, {
                field: 'shareTime',
                title: '分享时间',
                align: 'center',
                sortable: false
            }, {
                field: 'discountList',
                title: '获得优惠券ID',
                align: 'center',
                sortable: false
            }],
        onLoadSuccess: function (data) { //加载成功时执行
            console.log(data);
        },
        onLoadError: function (res) { //加载失败时执行
            console.log(res);
        }
    });

    //查询
    function searchResult() {
        var shareStartDay = $("#shareStartDay").val();
        var shareEndDay = $("#shareEndDay").val();
        var account = $("#account").val();
        var options = $('#loginLog-table').bootstrapTable('refresh', {
            query: {
                pageIndex: 0,
                shareStartDay: shareStartDay,
                shareEndDay: shareEndDay,
                account: account
            }
        });
    }

    //导出
    function shareExport() {
        var shareStartDay = $("#shareStartDay").val();
        var shareEndDay = $("#shareEndDay").val();
        var account = $("#account").val();

        var form = $("<form>");
        form.attr('style', 'display:none');
        form.attr('target', '');
        form.attr('method', 'post');
        form.attr('action', "xcr/toc/share/detail/list/export.htm");

        var input1 = $("<input type='hidden'  />");
        input1.attr('name', 'shareStartDay');
        input1.attr('value', shareStartDay);

        var input2 = $("<input type='hidden'  />");
        input2.attr('name', 'shareEndDay');
        input2.attr('value', shareEndDay);

        var input3 = $("<input type='hidden'  />");
        input3.attr('name', 'account');
        input3.attr('value', account);

        var input4 = $("<input type='hidden'  />");
        input4.attr('name', 'activityId');
        input4.attr('value', '$activityId');

        $('body').append(form);
        form.append(input1);
        form.append(input2);
        form.append(input3);
        form.append(input4);
        form.submit();
    }

</script>
</body>
</html>