<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
	<link rel="stylesheet" href="/xcr/plugins/jedate/skin/icon.css" />
    <link rel="stylesheet" type="text/css" href="/xcr/plugins/window/window.css">
    <script type="text/javascript" src="/xcr/plugins/window/window.js"></script>
	<script type="text/javascript" src="/xcr/plugins/jedate/jedate.js"></script>
	<script type="text/javascript" src="/xcr/js/toc/fullSendDate.js"></script>
</head>
<body class="gray-bg">
<div id="menu1" >
    <div class="container" style="width: 100%;">
		<input type="hidden" id="code" class="form-control" value=""/>
        <div style="margin-top: 10px;width: 100%;background-color: white" id="fullSendDiv">
            <div style="width: 100%;height: 10px;"></div>
            <div style="width: 100%;height: 30px;margin-top: 10px;" class="text-nowrap;">
                <span>&nbsp;&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;<span>活动管理</span>&nbsp;&nbsp;<i
                        class="fa fa-chevron-right"></i>&nbsp;&nbsp;<a href="javascript:loadHtml('/xcr/fullS/fullSList.htm')">订单满送红包活动列表</a>
				</span>
				<div class="pull-right" style="margin-right:100px;">
					<button class="btn btn-vk btn-sm rightSize;" type="button" style="padding:6px 28px;" onclick="activityAdd();">新增活动</button>
				</div>
            </div>
			<br />
            <div class="tab-content" style="margin-top: 10px;width: 100%;margin: 0 auto">
                <div>
                    <div id="fullSendTab" class="tab-pane">
                        <div style="width: 100%;margin: 0 auto;">
                            <table style="margin-top: 20px;width: 100%;height:120px;background-color: whitesmoke;margin: 0 auto;"
                                   border="0">
                                <tbody style="margin-top: 30px;">
                                <tr style="margin-top: 10px;">
                                    <td style="width: 7%;">
                                        <div style="margin-top: 0px; text-align:right; margin-right:18px;" >活动名称:</div>
                                    </td>
                                    <td style="width:7%;margin-left: 0px;">
                                        <input id="activityName" class="form-control" name="activityName" value="" style="width:90%;height:25%;"/>
                                    </td>
                                    <td style="width: 100px;">
                                        <div style="margin-top: 0px;margin-left: 20px;">时间范围:</div>
                                    </td>
									<td style="width: 300px;" colspan="2">
    									<input class="datainp wicon" id="startTime" type="date" placeholder="年/月/日"
    											style="width: 160px;float: left;border:1px solid #d2d6de;padding-left: 10px;"  readonly>
                                                <label style="float: left;margin: 5px;"> - </label>
            							<input class="datainp wicon" id="endTime" type="date" placeholder="年/月/日"
    											style="width: 160px;float: left;border:1px solid #d2d6de;padding-left: 10px;" readonly>
                                    </td>
									<td style="width: 100px;">
                                        <div style="margin-top: 0px;margin-left: 20px;">创建时间:</div>
                                    </td>
                                    <td style="width: 300px;" colspan="2">
    									<input class="datainp wicon" id="createStart" type="date" placeholder="年/月/日"
    											style="width: 160px;float: left;border:1px solid #d2d6de;padding-left: 10px;"  readonly>
                                                <label style="float: left;margin: 5px;"> - </label>
            							<input class="datainp wicon" id="createEnd" type="date" placeholder="年/月/日"
    											style="width: 160px;float: left;border:1px solid #d2d6de;padding-left: 10px;" readonly>
                                    </td>
									 <td style="width: 5%">
                                        <div>活动状态:</div>
                                    </td>
									<td style="width: 10%">
                                        <select class="form-control" id="aState" name="aState"
                                                style="width:85%;height:26%;">
                                            <option value="2">全部</option>
                                            <option value="0">未开始</option>
                                            <option value="1">进行中</option>
                                            <option value="-1">已结束</option>
                                        </select>
                                    </td>
                                    <td style="width: 8%;">
                                        <button id="btn_add" type="button" style="margin-left:50px;" class="btn btn-vk btn-sm rightSize"
                                                onclick="searchResult();">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询
                                        </button>
                                    </td>
                                    <td style="width: 8%;">
                                        <button id="btn_add" type="button" class="btn btn-vk btn-sm rightSize"
                                                onclick="search('reset');">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>重置
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <div id="toolbar" class="btn-group" style="float: left">

                            </div>
                            <table id="fullSend-table"></table>
                        </div>
                    </div>
					<script type="text/javascript">
                   		 //添加活动页面
                        function activityAdd() {
                            window.customData = null;
                            $("#fullSendDiv").empty();
                            $.ajax({
                                url: "/xcr/activityAddPage.htm",
                                type: "get",
                                success: function (data) {
                                    $("#fullSendDiv").html(data);
                                }
                            });
                        }
                	</script>
                    <!-- 普通列表js -->
                    <script type="text/javascript" src="/xcr/js/toc/fullSend.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="timeSearchError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">消息</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">结束时间不能大于开始时间</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框 -->
<div class="modal fade" id="judgeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5>确认删除?</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">消息</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">操作成功！</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">消息</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">操作失败！</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>