<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
	<link rel="stylesheet" href="/xcr/plugins/jedate/skin/icon.css" />
	<script type="text/javascript" src="/xcr/plugins/jedate/jedate.js"></script>
	<script type="text/javascript" src="/xcr/js/versionFormDate.js"></script>
	<link rel="stylesheet" type="text/css" href="/xcr/plugins/window/window.css">
	<script type="text/javascript" src="/xcr/plugins/window/window.js"></script>
</head>
<body class="gray-bg">
<div id="menu1">
    <div class="container" style="width: 100%;">
        <div style="margin-top: 10px;width: 100%;background-color: white">
            <div style="width: 100%;height: 10px;"></div>
            <div style="width: 100%;height: 50px;margin-top: 10px;">
                <h5>&nbsp;&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;<span>版本号管理</span>&nbsp;&nbsp;<i
                        class="fa fa-chevron-right"></i>&nbsp;&nbsp;<span onclick="javascript:loadHtml('xcr/versionManage.htm')"><a href="#" style="mjargin-left:10px;cursor:pointer;">版本号列表</a></span></h5>
            </div>
            <div class="tab-content" style="margin-top: 10px;width: 100%;margin: 0 auto">
                <div>
                    <div id="loginLogTab" class="tab-pane">
                        <div style="width: 100%;margin: 0 auto;">
                            <table style="margin-top: 20px;width: 100%;height:120px;background-color: whitesmoke;margin: 0 auto;"
                                   border="0">
                                <tbody style="margin-top: 30px;">
                                <tr style="margin-top: 20px;">
                                    <td style="width: 20px;"></td>
                                    <td style="width: 70px;">
                                        <div style="margin-top: 5px;">系统类型:</div>
                                    </td>
                                    <td style="width: 150px;">
                                        <select class="form-control" id="type" style="width:80%;">
                                            <option>全部</option>
                                            <option value="1">安卓</option>
                                            <option value="0">ios</option>
                                            <option value="2">供应链资源包</option>
                                        </select>
                                    </td>
                                    <td style="width: 70px;">
                                        <div style="margin-top: 5px;">状态:</div>
                                    </td>
                                    <td style="width: 150px;">
                                        <select class="form-control" id="state" style="width:80%;">
                                            <option>全部</option>
                                            <option value="1">已发布</option>
                                            <option value="0">未发布</option>
                                        </select>
                                    </td>
                                    <td style="width: 70px;">
                                        <div style="margin-top: 5px;">版本号:</div>
                                    </td>
                                    <td style="width: 150px;">
                                        <input id="versionCode" name="versionCode" style="width:200px;"/>
                                    </td>
                                    <td style="width: 40%;" colspan="5"></td>
                                </tr>
                                <tr>
                                    <td style="width: 20px;"></td>
                                    <td style="width: 70px;">
                                        <div style="margin-top: 5px;">强制升级:</div>
                                    </td>
                                    <td style="width: 150px;">
                                        <select class="form-control" id="isLiveUp" style="width:80%;">
                                            <option>全部</option>
                                            <option value="1">是</option>
                                            <option value="0">否</option>
                                        </select>
                                    </td>
                                    <td style="width: 70px;">
                                        <div style="margin-top: 5px;">发布日期:</div>
                                    </td>
                                    <td style="width: 200px; margin-left: -100px;" colspan="3">
                                        <input id="startDay" type="text" name="date" style="width: 30%;"/>
                                        <label> - </label>
                                        <input id="endDay" type="text" name="date" style="width: 30%;"/>
                                    </td>
                                    <td style="width: 8%;">
                                        <button id="btn_add" type="button" class="btn btn-vk btn-sm rightSize"
                                                style="width: 90%;margin-top: 5px;"
                                                onclick="resetInput();">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>重置
                                        </button>
                                    </td>
                                    <td style="width: 8%;">
                                        <button id="btn_add" type="button" class="btn btn-vk btn-sm rightSize"
                                                style="width: 90%;margin-top: 5px;"
                                                onclick="searchResult();">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询
                                        </button>
                                    </td>
                                    <td style="width: 8%;">
                                        <button id="btn_add" type="button" class="btn btn-vk btn-sm rightSize"
                                                style="width: 90%;margin-top: 5px;"
                                                onclick="turnVersion('1');">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>新增安卓
                                        </button>
                                    </td>
                                    <td style="width: 8%;">
                                        <button id="btn_add" type="button" class="btn btn-vk btn-sm rightSize"
                                                style="width: 90%;margin-top: 5px;"
                                                onclick="turnVersion('0');">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>新增ios
                                        </button>
                                    </td>
                                    <td style="width: 8%;">
                                        <button id="btn_add" type="button" class="btn btn-vk btn-sm rightSize"
                                                style="width: 90%;margin-top: 5px;"
                                                onclick="turnVersion('2');">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>新增供应链
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <div id="toolbar" class="btn-group" style="float: left">

                            </div>
                            <table id="loginLog-table"></table>
                        </div>
                    </div>
                    <!-- 普通列表js -->
                    <script type="text/javascript" src="/xcr/js/versionList.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="timeSearchError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">消息</h4>
            </div>
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">结束时间不能小于开始时间</h5></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="uploadApk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     style="margin-top: 10%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div style="width: 100%"><h5 style="text-align: center">正在创建版本，请稍后...（完成后会自动跳转，请勿刷新!!）</h5></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>