<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://code.alibabatech.com/schema/dubbo 
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<!-- Dubbo config -->	
	<dubbo:application name="core-server" />
	<dubbo:registry protocol="zookeeper" address="172.30.10.30:2181" />
	<dubbo:protocol name="dubbo" port="-1" />
	<dubbo:monitor protocol="registry" />
	<dubbo:consumer check="false" />
	<!-- 引入provider工程定义的spring信息 -->
	<import resource="classpath*:com/yatang/xc/mbd/biz/region/**/dubbo-consumer.xml" />
	<import resource="classpath*:spring/dubbo-provider.xml" />
	<import resource="classpath*:spring/applicationContext*.xml" />
	<context:property-placeholder location="classpath*:env/dev/*.properties" ignore-unresolvable="true"/>
</beans>