<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatang.xc.xcr.biz.mission.dao.MissionAwardDAO">
    <cache type="com.yatang.xc.xcr.biz.mission.redis.MybatisRedisCache"/>
    <resultMap id="BaseResultMap" type="com.yatang.xc.xcr.biz.mission.domain.MissionAwardPO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="misson_info_id" property="missonInfoId" jdbcType="BIGINT"/>
        <result column="award_type" property="awardType" jdbcType="VARCHAR"/>
        <result column="grant_style" property="grantStyle" jdbcType="VARCHAR"/>
        <result column="grant_num" property="grantNum" jdbcType="DOUBLE"/>
    </resultMap>

    <resultMap id="MissionAwardCollectMap" type="com.yatang.xc.xcr.biz.mission.domain.MissionAwardCollectPO">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="SIGN_SCORE_TOTAL" property="signScoreTotal" jdbcType="DOUBLE"/>
        <result column="MISSION_SCORE_TOTAL" property="messionScoreTotal" jdbcType="DOUBLE"/>
        <result column="SIGN_CASH_TOTAL" property="signCashTotal" jdbcType="DOUBLE"/>
        <result column="MISSION_CASH_TOTAL" property="messionCashTotal" jdbcType="DOUBLE"/>
        <result column="SHOP_CODE" property="shopCode" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, misson_info_id, award_type, grant_style, grant_num
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from XCR_MISSION_AWARD
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="queryByMissionId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from XCR_MISSION_AWARD
        where misson_info_id = #{missionId,jdbcType=BIGINT}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from XCR_MISSION_AWARD
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.yatang.xc.xcr.biz.mission.domain.MissionAwardPO" useGeneratedKeys="true"
            keyProperty="id">
    insert into XCR_MISSION_AWARD ( misson_info_id, award_type, 
      grant_style, grant_num)
    values ( #{missonInfoId,jdbcType=BIGINT}, #{awardType,jdbcType=VARCHAR}, 
      #{grantStyle,jdbcType=VARCHAR}, #{grantNum,jdbcType=DOUBLE})
  </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yatang.xc.xcr.biz.mission.domain.MissionAwardPO">
        update XCR_MISSION_AWARD
        <set>
            <if test="missonInfoId != null">
                misson_info_id = #{missonInfoId,jdbcType=BIGINT},
            </if>
            <if test="awardType != null">
                award_type = #{awardType,jdbcType=VARCHAR},
            </if>
            <if test="grantStyle != null">
                grant_style = #{grantStyle,jdbcType=VARCHAR},
            </if>
            <if test="grantNum != null">
                grant_num = #{grantNum,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yatang.xc.xcr.biz.mission.domain.MissionAwardPO">
    update XCR_MISSION_AWARD
    set misson_info_id = #{missonInfoId,jdbcType=BIGINT},
      award_type = #{awardType,jdbcType=VARCHAR},
      grant_style = #{grantStyle,jdbcType=VARCHAR},
      grant_num = #{grantNum,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="getAwardTotal" resultMap="MissionAwardCollectMap" parameterType="String">
     SELECT
       ID,SIGN_SCORE_TOTAL,MISSION_SCORE_TOTAL,SIGN_CASH_TOTAL,MISSION_CASH_TOTAL,SHOP_CODE,CREATE_TIME,UPDATE_TIME
     FROM
       XCR_AWARD_COLLECT
     WHERE
       SHOP_CODE = #{shopCode,jdbcType=VARCHAR} LIMIT 1
    </select>
</mapper>