<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://code.alibabatech.com/schema/dubbo 
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 注解扫描器 -->
    <context:component-scan base-package="com.yatang.xc.xcr.biz.core"/>
    
    <!-- Dubbo config -->
	<dubbo:application name="${dubbo.application.name}" owner="${dubbo.application.owner}"/>
	<dubbo:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}" />
	<dubbo:consumer check="${dubbo.consumer.check}" />
	<dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" payload="${dubbo.protocol.payload}"/>
    
    <!-- 引入client工程中定义的 dubbo consumer配置 -->
    <import resource="classpath*:com/yatang/xc/mbd/biz/org/dubboservice/dubbo-consumer.xml"/>
	<import resource="classpath*:com/yatang/xc/oc/**/dubbo-consumer.xml" />

</beans>